@import 'mixins';

/* ROOT VALUES */
:root {
    /* BACKGROUND */
    --btn_maker__backgroundColor: #3D94F6;
    /* FONT */
    --btn_maker__fontFamily: Arial;
    --btn_maker__fontColor: #ffffff;
    --btn_maker__fontSize: 35px;
    --btn_maker__fontWeight: 100;
    /* BORDER */
    --btn_maker__borderType: solid;
    --btn_maker__borderColor: #222222;
    --btn_maker__borderSize: 1px;
    --btn_maker__borderRadius: 20px;
    /* PADDING */
    --btn_maker__horizontalPadding: 13px;
    --btn_maker__verticalPadding: 24px;
    /* HOVER */
    --btn_maker__backgroundColorHover: #1E62D0;
    --btn_maker__fontColorHover: #ffffff;
}

/* VARIABLES */
$backgroundColor: var(--btn_maker__backgroundColor);
$fontFamily: var(--btn_maker__fontFamily);
$fontColor: var(--btn_maker__fontColor);
$fontSize: var(--btn_maker__fontSize);
$fontWeight: var(--btn_maker__fontWeight);
$borderType: var(--btn_maker__borderType);
$borderColor: var(--btn_maker__borderColor);
$borderSize: var(--btn_maker__borderSize);
$borderRadius: var(--btn_maker__borderRadius);
$horizontalPadding: var(--btn_maker__horizontalPadding);
$verticalPadding: var(--btn_maker__verticalPadding);
$backgroundColorHover: var(--btn_maker__backgroundColorHover);
$fontColorHover: var(--btn_maker__fontColorHover);

/* BUTTON MAKER */
.button {
    @include button($backgroundColor, $fontFamily, $fontColor, $fontSize, $fontWeight, $borderType, $borderColor, $borderSize, $borderRadius, $verticalPadding, $horizontalPadding);
}

.button:hover {
    @include buttonHover($backgroundColorHover, $fontColorHover);
    cursor: pointer;
}